html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 100ch;
    font-family: 'Jgs Font', 'Courier New', Courier, monospace;
    display: flex;
}



h1 {
    font-weight: bold;
    color: #000;
    font-size: 41px;
  }

/* General sidebar styles */
.sidebar {
    height: 100%; /* Full-height */
    width: 250px; /* Set a width for the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #a7dca0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    transition: 0.3s; /* Smooth transition */
  }
  
  /* Sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* Change color on hover */
  .sidebar a:hover {
    color: #00ff04;
    background-color: #4e4e4e;
  }
  
  /* Main content aligned to the right of the sidebar */
  .main-content {
    position: relative;
    margin-left: 270px; /* Adjust for the sidebar width */
    padding: 16px;
    max-width: calc(100% - 270px);
    transition: margin-left 0.3s; /* Smooth transition */
    font-size: 18px;
  }
  
  /* Button to toggle the sidebar visibility */
  .menu-toggle-icon {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 2; /* Keep it above other content */
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }
  
  /* Media query for smaller screens (e.g., smartphones) */
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 0; /* Collapse the sidebar by default on small screens */
    }
  
    .main-content {
      margin-left: 0; /* Main content takes full width */
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    /* Sidebar appears full-screen when open */
    .sidebar.active {
      width: 250px;
    }
  
    /* Main content shifts when sidebar is active */
    .main-content.active {
      margin-left: 250px;
      max-width: calc(100% - 270px);
    }
  
    /* Button stays on the top-left corner even on small screens */
    .menu-toggle-icon {
      top: 20px;
      left: 10px;
      color: #111;
    }
  }
  



.W-content {
    font-family: 'Open Sans';
    margin-left: 250px; /* Adjust for the sidebar width */
    padding: 16px;
    transition: margin-left 0.3s; /* Smooth transition */
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
  }

.email-link a {
    font-family: 'Open Sans', sans-serif; /* Or your preferred font */
    font-size: 18px;
    color: #870fdc; /* Green text */
    text-decoration: none;
    border-bottom: 2px solid transparent; /* No underline initially */
    transition: border-bottom 0.3s ease;
}

.email-link a:hover {
    border-bottom: 2px solid #32ff17; /* Underline on hover */
}


/*font*/
@font-face {
    font-family: 'jgs7';
    src: url('jgs7.woff2') format('woff2'),
        url('jgs7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs5';
    src: url('jgs5.woff2') format('woff2'),
        url('jgs5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs9';
    src: url('jgs9.woff2') format('woff2'),
        url('jgs9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Hide the button on larger screens */
.menu-toggle, .menu-toggle-icon {
    display: none;
    }

@media screen and (max-width: 768px) {
    .menu-toggle-icon {
    display: block;
    }
    }

